
.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F0F0F0;
}



.title {
  font-size: 1.875rem; 
  font-weight: 700;
  color: #028BBF;
  margin-bottom: 1.5rem;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem; 
  padding-top: 1rem; 
}

.labelinput {
  display: block;
  font-size: 0.875rem; 
  font-weight: 500;
  color: #028BBF; 
  padding-left: 1rem;
  margin-bottom: 0.4rem; 
}