

.button {
  width: 55%;
  padding: 0.3rem 1rem; 
  border-radius: 1.1rem;
  font-weight: 600; 
  font-size: 1.325rem; 
  transition: transform 0.2s;
  border: 1px solid transparent;
  
}

.button:hover {
  transform: scale(1.05);
  background-color: #daf4ff;
  transition-delay: 100ms;
  
}

/* Variante primaria */
.primary {
  background-color: #ffffff;
  color: #028BBF;
  border-color: #028BBF;
}

/* Variante secundaria */
.secondary {
  background-color: white;
  color: #028BBF;
  border-color: #028BBF;
}
.add {
  display: flex;
  
  width: 8rem;
  color: #575756;
  border-color: #028BBF;
  font-weight: 500;
  gap: 4px;
  font-size: 16px;
  box-shadow: 0px 0px 1px 1px rgba(0.5, 0.05, 0.05, 0.1) ;

}




.ButtonEstatico{
  font-family: 'Inter',sans-serif;
  width: 55%;
  padding: 0.3rem 1rem; 
  border-radius: 1.1rem;
  font-weight: 600; 
  font-size: 1.325rem; 
  border: 1px solid transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

 /* Botão de adicionar sem icone */
.adicionar{
  font-family: 'Inter',sans-serif;
  display: flex;
  gap: 7px;
  width: 55%;
  background-color: #575756;
  color: #ffffff;
  border-color: #575756;
  align-items: center;
  justify-content: center;
}

.adicionar:hover{
  transform: scale(1.03);
  transition-delay: 100ms;
  background-color: #575756;
}

 /* Botão de adicionar com icone */
.adicionar_icon{
  font-family: 'Inter',sans-serif;
  display: flex;
  gap: 7px;
  width: 12%;
  background-color: #ffffff;
  color: #575756;
  border-color: #575756;
}

.adicionar_icon:hover{
  transform: scale(1.03);
  background-color: #ffffff;
  transition-delay: 100ms;
}

.clear {
  background-color: white;
  color: #575756;
  border-color: #afaf4f;
  width: 50%;
  gap: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(87,87,86,0.2 );
}

.clear:hover{
  transform: scale(1.02);
  background-color: #ff9d9d;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 6px 12px rgba(87,87,86,0.3);
  background-color: blue;
  

}

.localizar{
  font-family: 'Inter',sans-serif;
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  background-color: #ffffff;
  color: #575756;
  border-color: #028BBF;
  font-size:medium;
  font-weight: 500;
}

.localizar:hover{
  transform: scale(1.03);
  background-color: #d1edf8;
  transition-delay: 100ms;
}
